.work-container {
    position: relative;
}

.work-container .work-opacity {
    border-radius: 10px;
    height: 100%;
    position: absolute;
    width: 100%;
    background: linear-gradient(0, #5A4E70 -8%, transparent 210%);
    z-index: 1;
}

.work-container .work-opacity:hover {
    background: linear-gradient(0, #9C7ED1 -8%, transparent 210%);
    cursor: pointer;

}

.work-title {
    position: relative;
    top: 112px;
    display: flex;
    justify-content: center;
    color: white;
}

.work-content-img {
    height: 250px;
    display: flex;
    justify-content: center;
}

.work-img {
    width: 100%;
    max-width: 460px;
    height: 250px;
    border-radius: 10px;
    object-fit: cover;
    box-shadow: 0px 0px 10px #5A4E70;
    position: relative;
}

@media screen and (max-width: 700px) {
    .work-title {
        top: 67px;
    }

    .work-content-img {
        height: 155px;
    }

    .work-img {
        height: 155px;
    }
}