.works-container-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 130px 30px;
    box-shadow: 0px 0px 10px #5A4E70;
    border-radius: 15px;
}

.work-container-title {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 30px;
    margin: 30px;
}

.works-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    margin: 30px;
}

.works-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    max-width: 460px;
}

@media screen and (max-width: 700px) {
    .works-container-box {
        margin: 30px
    }

    .works-container {
        display: flex;
        flex-direction: column;
        margin: 0 30px;
    }

}