.about-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 30px;
    border-radius: 40px;
    box-shadow: 0px 0px 20px #5A4E70;
    background: radial-gradient(circle, rgba(211, 186, 255, 1) 0%, rgba(126, 110, 156, 1) 100%);
}

.about-photo-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-photo-profil {
    width: 100%;
    height: 100%;
    max-width: 300px;
    margin: 30px;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 20px #5A4E70;
}

.about-text-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 30px;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgba(211, 186, 255, 1);
}

.about-text-content p {
    margin-top: 15px;
}

.about-logo-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 20px;
    gap: 25px;
}

.about-logo-dev {
    width: 70px;
    height: 100%;
    margin: auto;
}

.css {
    width: 54px;
    height: 100%;
}

@media screen and (max-width: 700px) {
    .about-content {
        margin: 30px 30px 60px 30px;
    }

    .about-photo-profil {
        width: 60%;
    }

    .about-logo-dev {
        width: 55px;
    }

    .css {
        width: 44px;
    }

}