.error-container-all {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}

.error-title {
    font-size: 200px;
    font-weight: 700;
    margin: 40px 0;
}

.error-text {
    font-size: 36px;
    margin-bottom: 100px;
    text-align: center;
}

.error-link {
    font-size: 18px;
    text-decoration: underline;
    color: #9C7ED1
}

@media screen and (max-width: 700px) {
    .error-title {
        font-size: 130px;
    }

    .error-text {
        font-size: 24px;
    }

    .error-link {
        font-size: 16px;
    }
}