.workSlide-pictures {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 45px 30px;
}

.workSlide-pictures img {
    display: none;
}

.workSlide-pictures img.visible {
    width: 1240px;
    max-width: 100%;
    display: flex;
    object-fit: cover;
    border-radius: 15px;
    box-shadow: 0px 0px 10px #5A4E70;
}

.slide-content {
    width: 1240px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: -130px;
    position: relative;
}

.slide-content .slide-arrow {
    display: flex;
    justify-content: space-between;
    bottom: -94px;
    padding: 2px;
    cursor: pointer;
    position: absolute;
    width: 50px;
}

.slide-arrow-right {
    right: 3%;
}

.slide-arrow-left {
    left: 3%;
}

.slide-number-img {
    position: relative;
    top: 93px;
    color: #5A4E70;
    font-size: 20px;
}

@media screen and (max-width: 700px) {
    .workSlide-pictures {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 30px;
    }

    .slide-content .slide-arrow {
        width: 30px;
    }

}